<%-include("../head.ejs")%>
    <link rel="stylesheet" href="/styles/details.css">

<body>
    <div class="box">
      <%-include("OrgSidebar.ejs")%>
    </div>

    <div class="box1">
      <%-include("../topbar.ejs")%>
    </div>

<div class="container">

  <div class="header">
    <h2>Sales and Marketing</h2>
    <button class="apply-btn">Apply Now</button>
  </div>

  <div class="sub-header">
    <p><strong>Cedar lift</strong></p>
    <p>📍 Lalitpur| ⏱ Full Time</p>
  </div>

  <div class="info-row">
    <div class="info-box">
      <p class="label">Offered Salary</p>
      <p class="value">Rs 5000 - 6000 /monthly</p>
    </div>

    <div class="info-box">
      <p class="label">Location</p>
      <p class="value">Onsite</p>
    </div>

    <div class="info-box">
      <p class="label">Level</p>
      <p class="value">Entry</p>
    </div>
  </div>

  <section class="section">
    <h3>Job Description:</h3>
    <p>
      We’re Hiring: Sales Intern <br>
Skilltootr – an EdTech platform focused on kids’ learning – is looking for an energetic Sales Intern to join our team.
    </p>
  </section>

  <section class="section">
    <h3>Key Responsibilities</h3>
    <ul>
      <li>Assist the Sales & Marketing Team in reaching out to parents, schools, and partners.</li>
      <li>Support in lead generation, follow-ups, and client communication.</li>
      <li>Help prepare proposals, presentations, and reports.</li>
      <li>Work closely with the team to achieve monthly enrollment targets.</li>
      <li>Gain hands-on experience in EdTech sales and customer engagement.</li>
     
    </ul>
  </section>

  <section class="section">
    <h3>Requirements:</h3>
    <ul>
      <li>Students pursuing BBA/BBS/MBA/MBS or any management stream</li>
      <li>Strong communication and interpersonal skills.</li>
      <li>Passion for sales, marketing, and customer relations.</li>
      <li>Energetic, confident, and eager to learn.</li>
    </ul>


  </section>

  <section class="section">
    <h3>Required Skills</h3>
    <ul>
      <li>marketing</li>
      <li>Sales</li>
      <li>Content Writing</li>
    </ul>
  </section>

  <section class="section">
    <h3>About Company</h3>
    <p><strong>Cedar lift Pvt Ltd</strong></p>
    <p>Location: Lalitpur, Nepal</p>
    <p>Address: Pulchowk, Lalitpur</p>
    <p>
Empowering kids of Nepal with "Skills Beyond School" with Various Programs in STEAM    </p>
  </section>

  <div class="bottom-apply">
    <div>
      <h3>Are you interested in this Internship?</h3>
      <p>Application ends: <strong>February 15, 2026</strong></p>
    </div>
    <button class="apply-btn">Apply Now</button>
  </div>

</div>

</body>
</html>