<%-include("head.ejs")%>
<link rel="stylesheet" href="/styles/forgotpassword.css">
<body>
    <%-include("nav.ejs")%>

    <section>
        <div class="main-container">
            <div class="text-conents">
                <p class="forgot">Forgot Password</p>
                <p>Email</p>
                <input type="text" placeholder="example@gmail.com" id="femail" name="femail">
                <div class="btn">
                    <a href="/verify">Next</a>
                </div>
            </div>
            <div class="image">
                <img src="/images/forgotpassword.svg" alt="">
            </div>
        </div>
    </section>
    <%-include("footer.ejs")%>
</body>