<%-include("head.ejs")%>
<link rel="stylesheet" href="/styles/forgotpassword.css" />
<body>
  <%-include("nav.ejs")%>

  <section>
    <div class="main-container">
      <div class="text-conents">
        <p class="forgot">Forgot Password</p>
        <p>Email</p>
        <input
          type="text"
          placeholder="example@gmail.com"
          id="email"
          name="email"
        />
        <div class="btn">
          <a href="" id="verifyBtn">Next</a>
        </div>
      </div>
      <div class="image">
        <img src="/images/forgotpassword.svg" alt="" />
      </div>
    </div>
  </section>
  <%-include("footer.ejs")%> <%-include("components/foot.ejs")%>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("verifyBtn")
      .addEventListener("click", function (e) {
        e.preventDefault();
        const email = document.getElementById("email").value;
        console.log(email);

        if (email === "") {
          return Toast.fire({
            icon: "error",
            title: "Please enter your email",
          });
        }

        if (!(email.includes("@") && email.includes("."))) {
          return Toast.fire({
            icon: "error",
            title: "Please enter valid email",
          });
        }

        return fetch("/forgotpassword", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ email }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.title == "success") {
              Toast.fire({
                icon: "success",
                title: data.message,
              });
            } else {
              Toast.fire({
                icon: "error",
                title: data.message,
              });
            }
            return setTimeout(() => (window.location = `/verify?email=${email}`), 2000);
          });
      });
  });
</script>
