<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experience</title>
  <!-- <link rel="stylesheet" href="/styles/user.css"> -->
    <link rel="stylesheet" href="/styles/OrgSidebar.css">
    <link rel="stylesheet" href="/styles/experience.css">


</head>
<body>
  <div class="dashboard-container">
    
      <%- include("OrgSidebar.ejs") %>
      <!-- Main Content -->
    <main class="main-content">
      <header class="topbar">
        <h2 class="h2">Dashboard</h2>
        <button class="logout-btn">log out</button>
      </header>

      <section class="profile-section">
        <h3>Post a Job</h3>

        <h1 class="h1">Company Logo</h1>

        <!-- Profile Form -->
        <div class="profile-box">
          <div class="photo-section">
            <div class="photo-placeholder"></div>
            <button class="select-btn">Select</button>
            
          </div>

          <div class="form-section"> 
            
             <div class="input-row">
              <div>
                <label>Job title</label>
                <div class="input1"></div>
              </div>
              <div>
                <label>No of openings</label>
                <div class="input1"></div>
              </div>
              <div>
                <label>Category</label>
                <div class="input1"></div>
              </div>
            </div>

            <div class="input-row">
              <div>
                <label>Job type</label>
                <div class="input1"></div>
              </div>
              <div>
                <label>Remote/on-site</label>
                <div class="input1"></div>
              </div>
              <div>
                <label>Experience Required</label>
                <div class="input1"></div>
              </div>
            </div>

            <div class="input-row">
              <div>
                <label>Education Required</label>
                <div class="input1"></div>
              </div>
              <div>
                <label>Location</label>
                <div class="input1"></div>
              </div>
              <div>
                <label>Expirey Date</label>
                <div class="input1"></div>
              </div>
            </div>

            <label>Job Description</label>
            <div class="textarea"></div>
            
             <label>Job Requirements</label>
            <div class="textarea"></div>

             <label>Apply Instructions</label>
            <div class="textarea"></div>
          </div>
        </div>
      </section>
    </main>

   

  </div>


</body>
</html>
