<!-- SIDEBAR -->
<head>
  <link rel="stylesheet" href="/styles/sidebar.css" />
</head>
<div class="sidebar">
  <div class="logo">
    <img src="/images/logo.svg" alt="Logo" />
  </div>

  <nav class="nav-links">
    <a href="/users/userIndex" class="btns"
      ><img src="/images/home.svg" alt="" />Home</a
    >
    <a href="/users/notifications" class="btns"
      ><img src="/images/target.svg" alt="" />Notifications</a
    >
    <a href="/users/UserDashboard" class="btns"
      ><img src="/images/edit.svg" alt="" />Edit Profile</a
    >
    <a href="/users/education" class="btns"
      ><img src="/images/edit.svg" alt="" />View Details</a
    >
    <a href="/users/jobs" class="btns"
      ><img src="/images/appliedjobs.svg" alt="" />All Jobs</a
    >
    <a href="/users/appliedjobs" class="btns"
      ><img src="/images/appliedjobs.svg" alt="" />Applied Jobs</a
    >
    <a href="/users/recommended" class="btns"
      ><img src="/images/target.svg" alt="" />Recommended</a
    >
    <a href="#" class="btns"
      ><img src="/images/settings.svg" alt="" />Settings</a
    >
  </nav>
</div>
<script>
  const currentPage = window.location.pathname;
  const links = document.querySelectorAll(".btns");

  links.forEach((link) => {
    if (link.getAttribute("href") === currentPage) {
      link.classList.add("active");
    }
  });
</script>
