<head>
  <link rel="stylesheet" href="/styles/topbar.css" />
</head>
<nav class="top">
  <div class="bar">
    <span>Dashboard</span>
    <div class="logoutbtn">
      <a href="">Logout</a>
    </div>
  </div>
</nav>
