<%-include("head.ejs")%>
<link rel="stylesheet" href="/styles/forgotpassword.css">
<body>
    <%-include("nav.ejs")%>

    <section>
        <div class="main-container">
            <div class="text-conents">
                <p class="forgot">Please Check Your Email</p>
                <p>Enter OTP sent to your mail</p>
                <input type="text" placeholder="otp" id="femail" name="femail">
                <div class="btn">
                    <a href="">Verify</a>
                </div>
            </div>
            <div class="image">
                <img src="/images/forgotpassword.svg" alt="">
            </div>
        </div>
    </section>
    <%-include("footer.ejs")%>
</body>