@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 6;
  padding: 4;
  background-color: #ffffff;
  color: #000;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}


/* ===========
   MAIN CONTENT
   =========== */
.main-content {
  flex: 1;
  padding: 30px 40px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.h2{
  font-size: 32px;
}
.logout-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 13px 41px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}

.logout-btn:hover {
  background-color: #2563eb;
}

.save-btn{
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 13px 41px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;

}
.save-btn:hover{
  background-color: #2563eb;


}

/* ===========
   PROFILE SECTION
   =========== */
.profile-section {
 background: #fff;
    margin-top: 46px;
    border: 1px solid #e5e5e5;
    border-radius: 48px;
    padding: 49px;
}

.profile-section h3 {
  font-size: 34px;
    font-weight: 700;
    margin-bottom: 38px;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  
}

.tab {
  border: 1.5px solid #9ce7cf;
  background: white;
  border-radius: 8px;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  font-size: 21px;
}

.tab:hover {
  background: #9ce7cf;
}

.tab.active {
  background-color: #3b82f6;
  color: white;
  border-color: #3b82f6;
}
.h1{
  font-weight: 300;
  margin-bottom: 25px;
}

/* Profile Box */
.profile-box {
  display: flex;
  gap: 25px;
}

.photo-section {
      display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 36px;
    margin: 10px;
    padding: 10px;
}

.photo-placeholder {
  width: 160px;
    height: 160px;;
  background: #d9d9d9;
  border-radius: 50%;
}

.select-btn {
  background: #fff;
    border: 1.5px solid #9ce7cf;
    border-radius: 16px;
    padding: 9px 44px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    font-size: 23px;
}

.select-btn:hover {
  background: #9ce7cf;
}

.cancel-btn{
  background: #fff;
    border: 1.5px solid #9ce7cf;
    border-radius: 16px;
    padding: 9px 44px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    font-size: 23px;
}

.cancel-btn:hover {
  background: #9ce7cf;
}



/* Form section */
.form-section {
  flex: 1;
}

.form-section label {
  display: flex;
    font-size: 21px;
    margin-bottom: 20px;
}

/* .input,
.textarea {
  background: #e4e4e4;
  border-radius: 6px;
  height: 50px;
  margin-bottom: 15px;
} */
.input1,
.textarea {
  background: #e4e4e4;
  border-radius: 6px;
  height: 50px;
  width: 300px;
  margin-bottom: 15px;
}


.textarea {
    height: 289px;
    width: 1000px;
    margin-bottom: 48px;
  }

.input-row {
  display: flex;
  gap: 15px;
  margin-bottom: 48px;
  padding: 35px;
}
