* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #000;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100vh;
}

/* ===========
   MAIN CONTENT
   =========== */

.main-contents {
  border: 2px solid #d9d9d9;
  margin-left: 22px;
  margin-right: 104px;
  margin-top: 24px;
  border-radius: 10px;
}

.info-section {
  /* border: 2px solid purple; */
  margin-left: 25px;
  margin-right: 17px;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  padding: 30px 40px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h2 {
  font-size: 32px;
}
.logout-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 13px 41px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}

.logout-btn:hover {
  background-color: #2563eb;
}
.photo {
  display: flex;
  align-items: center;
}
.photo img {
  width: 150px;
  height: 150px;
}

.profilebtn {
  all: unset;
  border:  1.5px solid #dcd6d6;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;

  cursor: pointer;
}

.profilebtn:hover {
  background-color: #2563eb;
  color: white;
}

.profile-section {
  background: #fff;
  margin-top: 46px;
  border: 1px solid #e5e5e5;
  border-radius: 48px;
  padding: 49px;
}

.profile-section h3 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 38px;
}

.edit {
  padding-left: 16px;
}
.edit p {
  font-weight: bold;
  font-size: 32px;
}
.save-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 9px 35px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  
}


.save-btn:hover {
  background-color: #2563eb;
}

/* ===========
   PROFILE SECTION
   =========== */
.profile-section {
  background: #fff;
  margin-top: 46px;
  border: 1px solid #e5e5e5;
  border-radius: 48px;
  padding: 49px;
}

.profile-section h3 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 38px;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.tab {
  border: 1.5px solid #dcd6d6;
  background: white;
  border-radius: 8px;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.tab:hover {
  background: #9ce7cf;
}

.tab.active {
  background-color: #3b82f6;
  color: white;
  border-color: #3b82f6;
  text-decoration: none;
}
.h1 {
  font-weight: 300;
  margin-bottom: 25px;
}

/* Profile Box */
.profile-box {
  display: flex;
  gap: 25px;
}

.photo-section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 36px;
  margin: 10px;
  padding: 10px;
}

.photo-placeholder {
  width: 160px;
  height: 160px;
  background: #d9d9d9;
  border-radius: 50%;
}

.select-btn {
  background: #fff;
  border:2px solid #9ce7cf;
  border-radius: 10px;
  padding: 9px 35px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  margin-bottom: 25px;
}

.select-btn:hover {
  background: #9ce7cf;
}

.cancel-btn {
  background: #fff;
  border: 1.5px solid #dcd6d6;
  border-radius: 10px;
  padding: 9px 35px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}


.cancel-btn:hover {
  background: #9ce7cf;
}

/* Form section */
.form-section {
  flex: 1;
}

.form-section label {
  display: flex;
  font-size: 21px;
  margin-bottom: 20px;
}

/* .input,
.textarea {
  background: #e4e4e4;
  border-radius: 6px;
  height: 50px;
  margin-bottom: 15px;
} */
.input1 {
  border: none;
  outline: none;
  background: #e4e4e4;
  border-radius: 6px;
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

.textarea {
  height: 289px;
  width: 1000px;
  margin-bottom: 48px;
}

.input-row {
  display: flex;
  gap: 15px;
  margin-bottom: 48px;
  justify-content: space-between;
}
#skills {
  width: 100%;
  min-height: 80px;
  margin-bottom: 45px;
}

.btn-row {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  margin-bottom: 48px;
  margin-left: 25px;

}

.link-input-group {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 15px;
  background: #fafafa;
}