@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f7fb;
  margin: 0;
  padding: 30px;
}

.box1{
    margin-left: 300px;
}

.container {
 background: #fff;
    border-radius: 29px;
    padding: 42px;
    max-width: 1900px;
    margin-top: 43px;
    margin-right: 33px;
    margin-left: 410px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apply-btn {
  background: #91DEC3;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

.apply-btn:hover {
  background: #91DEC3;
}

.sub-header {
  margin-top: -10px;
  color: #555;
}

/* Info Row */
.info-row {
  display: flex;
  gap: 100px;
  margin: 20px 0;
  flex-wrap: wrap;
  height: 120px;
}

.info-box {
  background: #ffffff;
  padding: 16px;
  border-radius: 8px;
  flex: 1;
  min-width: 200px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: 0.25s ease;
  cursor: pointer;
}

.info-box:hover {
background: #e8fdf4;
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  border-color: #00c27d;
}

.label {
  font-size: 12px;
  color: #666;
}

.value {
  font-weight: bold;
  margin-top: 4px;
}

/* Sections */
.section {
  margin: 25px 0;
}

.section h3 {
  margin-bottom: 10px;
  color: #333;
}

.section ul {
  padding-left: 20px;
}

.section ul li {
  margin-bottom: 6px;
  line-height: 1.5;
}

/* Bottom Apply */
.bottom-apply {
  background: #f3f4f7;
  padding: 20px;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
