* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.footer {
  background-color: #447df0;
}
.foot-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.foot-box {
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  grid-template-rows: repeat(2, auto);
  gap: 50px;
}
.foot-box1 {
  margin-top: 70px;
}
#foot{
    padding-left: 355px;
}
.foot-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.foot-contact-list li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 22px;
    margin-bottom: 22px;
    color: white;
    text-decoration: none;
} 
.foot-box p{
    color: white;
}

.foot-contact-list li a{
    text-decoration: none;
    color: white;
}

.foot-box3{
    align-items: left;
}