* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 124px;
  margin-right: 124px;
}

.forgot {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}

.main-container input {
  padding: 10px;
  border: none;
  border: 2px solid #91dec3;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 10px;
}

.btn {
  padding: 10px;
  background-color: #447df0;
  border-radius: 16px;
  width: 207px;
  text-align: center;
}

.btn a {
  text-decoration: none;
  color: white;
}
