* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
  color: #111;
  justify-content: center;
  align-items: center;
}
/* NAVBAR */

/* Internship Section */
.internship-section {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 100px;
  padding: 80px 100px 80px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.blue-bg {
  background-color: #3d74f4;
  /* margin-top: 100px; */
  /* margin-bottom: 100px; */
  /* padding: 200px 100px 180px;*/
}

.internship-section3 {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 100px;
  padding: 80px 100px 80px;
  margin-bottom: 100px;
}

/* Card Style */
.card {
  background-color: #fafafa;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 392px;
  height: 380px;
  padding: 76px;
  text-align: left;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Card Text */
.card h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 6px;
}

.role {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 38px;
  color: #333;
}

.location {
  font-size: 23px;
  color: #6b6b6b;
  margin-bottom: 10px;
}

/* Tags */
.tags {
  margin-bottom: 40px;
}

.tags span {
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 4px 10px;
  margin: 3px;
  font-size: 18px;
  color: #333;
}

/* Button */
button {
  width: 100%;
  background-color: #3d74f4;
  border: none;
  color: white;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  font-size: 18px;
}

.btn a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: #2f5ed3;
}

/* FOOTER */
