@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  all: unset; /* removes all default styles */
  cursor: pointer; /* optional: still looks clickable */
}

.dashboard-container {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100vh;
}

.main-contents {
  border: 2px solid #d9d9d9;
  margin-left: 22px;
  margin-right: 104px;
  margin-top: 24px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.info-container {
  margin: 20px;
}
.logo1 {
  display: flex;
  gap: 10px;
}

.org {
  color: #91dec3;
  font-weight: bold;
}

#apply {
  background-color: #91dec3;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.top1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.descripton {
  margin-bottom: 20px;
}

.cont-parent {
  padding: 20px;
}

.res {
  margin-bottom: 10px;
}
.chart-parent{
  display: flex;
}
#acquisitions{
  height: 400px !important;
  width: 600px !important;
}
#acquisitions-pie{
  width: 400px !important}