@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
}

/* Layout */
.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar area */
.sidebar-box {
  width: 260px; /* matches sidebar width */
  background: #fff;
  border-right: 1px solid #e5e7eb;
}

/* MAIN WRAPPER */
.main-wrapper {
  flex: 1;
  background: #f8fafc;
  padding: 20px 40px;
}

/* Topbar already handled in your include */

/* MAIN CONTENT BOX */
.main-content {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding: 125px;
  margin-top: 30px;
  margin: 40px;
}

/* Title */
.title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* GRID */
.jobs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

/* JOB CARD */
.job-card {
 background: #ffffff;
    padding: 70px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 357px;
    width: 742px;
}

.job-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.job-location {
  font-size: 15px;
  color: #4b5563;
  margin-bottom: 25px;
}

/* BUTTON */
.details-btn {
  background: #3b82f6;
  color: white;
  padding: 12px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: 0.2s;
}

.details-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
