@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
}

/* Layout */
.dashboard-container {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100vh;
}

.main-content {
  border: 2px solid #d9d9d9;
  margin-left: 22px;
  margin-right: 104px;
  margin-top: 24px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Title */
.title {
  padding-left: 16px;
}
.title p {
  font-weight: bold;
  font-size: 24px;
}

/* GRID */
.jobs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  margin: 20px;
}

/* JOB CARD */
.job-card {
  background: #ffffff;
  padding: 70px;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 357px;
  width: 742px; */
}

.job-card a{
  text-decoration: none;
  text-align: center;
}

.job-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.job-location {
  font-size: 15px;
  color: #4b5563;
  margin-bottom: 25px;
}

/* BUTTON */
.details-btn {
  background: #3b82f6;
  color: white;
  padding: 12px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: 0.2s;
}

.details-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
.job-subtitle{
  color: #9ce7cf;
  font-weight: bold;
  margin-bottom: 10px;
}