@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 6;
  padding: 4;
  background-color: #ffffff;
  color: #000;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}


/* ===========
   MAIN CONTENT
   =========== */
.main-content {
  flex: 1;
  padding: 30px 40px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.h2{
  font-size: 32px;
}
.logout-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 13px 41px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}

.logout-btn:hover {
  background-color: #2563eb;
}



/* ===========
   PROFILE SECTION
   =========== */
.profile-section {
 background: #fff;
    margin-top: 46px;
    border: 1px solid #e5e5e5;
    border-radius: 48px;
    padding: 50px;
    margin: 80px;
}

.profile-section h3 {
  font-size: 34px;
    font-weight: 700;
    margin-bottom: 38px;
}

.saved-jobs-container {
    border: 1px solid #e5e7eb;
    padding: 30px;
    border-radius: 10px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

.jobs-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.job-card {
    background: white;
    width: calc(50% - 15px);
    height: 450px;
    padding: 70px;
    border-radius: 48px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.job-location {
    font-size: 15px;
    color: #4b5563;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.location-icon {
    color: #22c55e; /* green pin */
}

.details-btn {
    background: #3b82f6;
    color: white;
    padding: 10px 0;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    box-shadow: 0 3px 8px rgba(59, 130, 246, 0.3);
    transition: 0.2s;
}

.details-btn:hover {
    opacity: 0.9;
}