@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
}

.sidebar {
  width: 300px;
  background-color: #f8f8f8;
  border-right: 1px solid #eee;
  padding: 30px 15px;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: flex-start;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  border: 2px solid #9ce7cf;
}

.btns.active {
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
}

.nav-links img {
  width: 18px;
  height: 18px;
}
