* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.background {
  background-image: url("/images/background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  /* background-position: center ; */
  background-size: contain; /* ← for SVG this keeps aspect ratio PERFECT */
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bgimg {
  width: 100%;
  height: auto;
}
.box {
  background-color: white;
  width: 380px;
}
.box-parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login {
  border: 2px solid yellow;
  width: 100%;
  text-align: center;
}
.login p {
  font-size: 32px;
  font-weight: bold;
}
.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  position: relative;
  background: #fff;
  padding: 40px;
  margin-block-end: 8px;
  margin-bottom: 40px;
  border-radius: 15px;
  width: 400px;
  height: 530px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: left;
}

.box h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 700;
}

/* Inputs */
.box label {
  display: block;
  margin: 10px 0 5px;
  font-size: 20px;
  color: #333;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  margin: 2px 0 8px;
  box-sizing: border-box;
}

.box input:focus {
  border-color: #3b82f6;
}

/* Button */
.box button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.box button:hover {
  background-color: #2563eb;
}

/* Links */
.box .link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.box .link a {
  color: #3b82f6;
  text-decoration: none;
}

.box .link a:hover {
  text-decoration: underline;
}

.box small {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3b82f6;
  font-size: 15px;
}

.box .terms {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  font-size: 16px;
}

.box .terms a {
  color: #3b82f6;
  text-decoration: none;
}

#a a {
  color: #858a91;
  text-decoration: none;
}
