* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d9d9d9;
  padding-right: 120px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0px;
  z-index: -100;
}

.bar span {
  font-weight: bold;
  font-size: 32px;
}

.logoutbtn {
  background-color: #3b82f6;
  color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logoutbtn a {
  text-decoration: none;
  color: white;
}
