* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 124px;
  margin-right: 124px;
}
.wrapper{
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    
}

.wrapper h1{
    text-align: center;
    margin-bottom: 40px;
    margin-left: -136px;
}

.wrapper input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 18px;
}

.wrapper ul{
    list-style-type: none;
    margin-bottom: 20px;
}

.wrapper h3{
    margin-bottom: 20px;
}
.invalid{
    color: red;
}
.valid{
    color: green;
}

.forgot {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}

.main-container input {
  padding: 10px;
  border: none;
  border: 2px solid #f3eeee;
  border-radius: 15px;
  width: 300px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px;
  background-color: #447df0;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn a {
  text-decoration: none;
  color: white;
}

