<%-include("../head.ejs")%>

    <link rel="stylesheet" href="/styles/user.css" />

  <body>
    <div class="dashboard-container">

      <div class="box">
        <%-include("../sidebar.ejs")%>
      </div>

      <div class="box1">
        <%-include("../topbar.ejs")%>
        <div class="main-contents">
          <div class="edit">
            <p>Edit Profile</p>
            <div class="tabs" >
              <a href="/users/UserDashboard" class="tab active">Personal Information</a>
              <a href="/users/UserExperience" class="tab">Experience</a>
              <a href="/users/UserEducation" class="tab">Education</a>
              <a href="/users/AdditionalInfo" class="tab">Additional Information</a>
             
            </div>

          </div>
          
          <div class="info-section">
            <p>Profile Photo</p>
            <div class="photo">
              <img src="/images/default.jpg" alt="img">
              <button class="profilebtn">Select</button>
            </div>
           <div class="form-section">
              <label>Full Name</label>
              <input type="text" class="input" name="full_name" id="full_name">

              <label>Email</label>
              <input type="email" class="input" name="email" id="email">

              <div class="input-row">
                <div>
                  <label>Location</label>
                  <input type="text" class="input" name="location" id="location">
                </div>
                <div>
                  <label>Phone</label>
                  <input type="text" class="input" name="phone" id="phone">
                </div>
                <div>
                  <label>Gender</label>
                  <input type="text" class="input" name="gender" id="gender">
                </div>
              </div>

              <label>Objective</label>
              <textarea name="objective" id="objective" class="input"></textarea>
            </div>

          </div>
        </div>
      </div>
 
     
    </div>
  </body>
</html>

